* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  color: blue;
  font-size: 1.6rem;
}
@media screen and (min-width: 800px) {
  .header h1 {
    font-size: 3rem;
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.feature {
  display: flex;
  width: 90%;
  margin: auto;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
@media screen and (min-width: 800px) {
  .feature {
    max-width: 30%;
  }
}
.feature p {
  font-size: 0.9rem;
  max-width: 500px;
}
@media screen and (min-width: 800px) {
  .feature p {
    font-size: 1.3rem;
  }
}
.feature p a {
  text-decoration: none;
  color: blue;
}
.feature p a:hover {
  background: lightgray;
  border-radius: 5px;
}

.icons {
  height: 50px;
}

footer a {
  font-size: 0.5rem;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.clock-icon {
  font-size: 5rem;
  color: blue;
}

.clock {
  --_ow: clamp(5rem, 80vw, 40rem);
  --_w: 97cqi;
  --_r: calc((var(--_w) - var(--_sz)) / 2);
  --_sz: 12cqi;
  background: #222;
  block-size: var(--_ow);
  border-radius: 50%;
  container-type: inline-size;
  display: grid;
  font-family: ui-sans-serif, system-ui, sans-serif;
  inline-size: var(--_ow);
  margin-inline: auto;
  place-content: center;
}

.clock-face {
  aspect-ratio: 1;
  background: var(--_bgc, #FFF);
  border-radius: 50%;
  block-size: var(--_w);
  font-size: 6cqi;
  font-weight: 700;
  list-style-type: none;
  inline-size: var(--_w);
  padding: unset;
  position: relative;
}

.clock-face time {
  --_x: calc(var(--_r) + (var(--_r) * cos(var(--_d))));
  --_y: calc(var(--_r) + (var(--_r) * sin(var(--_d))));
  display: grid;
  height: var(--_sz);
  left: var(--_x);
  place-content: center;
  position: absolute;
  top: var(--_y);
  width: var(--_sz);
}

.clock-face time:nth-child(1) {
  --_d: 270deg;
}

.clock-face time:nth-child(2) {
  --_d: 300deg;
}

.clock-face time:nth-child(3) {
  --_d: 330deg;
}

.clock-face time:nth-child(4) {
  --_d: 0deg;
}

.clock-face time:nth-child(5) {
  --_d: 30deg;
}

.clock-face time:nth-child(6) {
  --_d: 60deg;
}

.clock-face time:nth-child(7) {
  --_d: 90deg;
}

.clock-face time:nth-child(8) {
  --_d: 120deg;
}

.clock-face time:nth-child(9) {
  --_d: 150deg;
}

.clock-face time:nth-child(10) {
  --_d: 180deg;
}

.clock-face time:nth-child(11) {
  --_d: 210deg;
}

.clock-face time:nth-child(12) {
  --_d: 240deg;
}

.arm {
  background-color: var(--_abg);
  border-radius: calc(var(--_aw) * 2);
  display: block;
  height: var(--_ah);
  left: calc((var(--_w) - var(--_aw)) / 2);
  position: absolute;
  top: calc(var(--_w) / 2 - var(--_ah));
  transform: rotate(0deg);
  transform-origin: bottom;
  width: var(--_aw);
}

.seconds {
  --_abg: red;
  --_ah: 40cqi;
  --_aw: 1cqi;
  animation: turn 60s linear infinite;
  animation-delay: var(--_ds, 0ms);
  /* animation-delay: -20s, 0ms; */
}

.minutes {
  --_abg: #333;
  --_ah: 35cqi;
  --_aw: 2.5cqi;
  animation: turn 3600s steps(60, end) infinite;
  animation-delay: var(--_dm, 0ms);
}

.hours {
  --_abg: #333;
  --_ah: 30cqi;
  --_aw: 2.5cqi;
  animation: turn 43200s linear infinite;
  /* 60 * 60 * 12 */
  animation-delay: var(--_dh, 0ms);
  position: relative;
}

.hours::before {
  background-color: #fff;
  border: 1cqi solid #333;
  border-radius: 50%;
  content: "";
  display: block;
  height: 4cqi;
  position: absolute;
  bottom: -3cqi;
  left: -1.75cqi;
  width: 4cqi;
}

@keyframes turn {
  to {
    transform: rotate(1turn);
  }
}

/*# sourceMappingURL=styles.css.map */
